extends ../layout
block content
    form(method="post" enctype="multipart/form-data" action="/api/projects")
        .flex-container
            .input-container
                input(type="text", name="project-name", placeholder="project-name")
            .input-container
                input(type="text", name="project-description" placeholder="project-description")
            .input-container
                input(type="text", name="project-link" placeholder="project-link")
            .input-container
                input(type="file", name="img" placeholder="project-img")
            .input-container
                input(type="file", name="preview-img" placeholder="project-img")
        .button-container
            button(type="submit") Save
            button(type="reset") Reset

    table.projects-container
        each project in projects
            tr
                td=project["project-name"]
                td=project["project-description"]
                td=project["projectImg"]
                td=project["project-link"]
                td
                    img(src=`uploads-image/${project["img"]}`)
                td
                    img(src=`uploads-image/${project["preview-img"]}`)
                td
                    button(type="delete", data-name="projects" data-id=project.id).delete-element Delete

    div=errors
