extends ../layout

block content
    form(method="post" enctype="multipart/form-data" action="/api/posts")
       .flex-container
           .input-container
               input(type="text", name="post-name", placeholder="post-name")
           .input-container
               input(type="text", name="post-description" placeholder="post description")
           .input-container
               input(type="text", name="post-link" placeholder="post link")
           .input-container
               input(type="file", name="img" placeholder="post img")
           .input-container
               input(type="file", name="preview-img" placeholder="post preview img")
       .button-container
           button(type="submit") Save
           button(type="reset") Reset


    table.post-container
        each post in posts
            tr
                td=post["post-name"]
                td=post["post-description"]
                td=post["post-link"]
                td
                    img(src=`uploads-image/${post["img"]}`)
                td
                    img(src=`uploads-image/${post[ "preview-img" ]}`)
                td
                    button(type="delete", data-name="posts" data-id=post.id).delete-element Delete
    div=errors

