extends ../layout

block content
    .content
        h2.title-page Team
        .title-and-description
            h3.title About Us. A team inspired by the design
            p.description
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                | consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        .users
            each user, index in users
                form.user-container(method="post" enctype="multipart/form-data" action="/api/users")
                    .index=index + 1
                    .left-container
                        .user-image-container
                            .user-img(style=`background-image:url(../uploads-image/${user.img})`)
                            input.download-user-img(type="file" required autocomplete="off" value=user.img name="img" placeholder="user-img")
                        .user-description-container
                            .user-name-and-position
                                .user-name
                                    label(for="name") Name
                                    input#name(type="text" name="name"  autocomplete="off" value=user.name)
                                .position
                                    label(for="position") Position
                                    input#position(type="text" name="position"  autocomplete="off" value=user.position)
                            .user-description
                                label(for="description") Description
                                textarea.user-description-textarea#description(name="description"  autocomplete="off")=user.description
                    .right-container
                        .social-links
                            h5.title-links Social links
                            .flex-container
                                .facebook
                                    .icon
                                        i.fa.fa-facebook-f
                                    input.social-input(type="text" name="facebook"  autocomplete="off"  value=user.facebook)
                                .linkedin
                                    .icon
                                        i.fa.fa-linkedin
                                    input.social-input(type="text" name="instagram"  autocomplete="off"  value=user.instagram)
                                .behance
                                    .icon
                                        i.fa.fa-behance
                                    input.social-input(type="text" name="behance"  autocomplete="off"  value=user.behance)
                                .dribbble
                                    .icon
                                        i.fa.fa-dribbble
                                    input.social-input(type="text" name="dribbble"  autocomplete="off" value=user.dribbble)
                    .button-container
                        button.change-element(type="submit", data-method="delete" data-api="users" data-id=user.id) Change

                        button.delete-element(type="button", data-method="delete" data-api="users" data-id=user.id) Delete

        button.add-user.show-modal-form add new
        .modal-form
            button.close-modal.show-modal-form close
            form.submit-form(method="post" enctype="multipart/form-data" action="/api/users")
                .flex-container
                    .input-container
                        input(type="text" autocomplete="off" name="name" placeholder="name")
                    .input-container
                        input(type="text" autocomplete="off" name="position" placeholder="position")
                    .input-container
                        input(type="text" autocomplete="off" name="description" placeholder="description")
                    .input-container
                        input(type="text" autocomplete="off" name="facebook" placeholder="facebook")
                    .input-container
                        input(type="text" autocomplete="off" name="instagram" placeholder="instagram")
                    .input-container
                        input(type="text" autocomplete="off" name="behance" placeholder="behance")
                    .input-container
                        input(type="text" autocomplete="off" name="dribbble" placeholder="dribbble")
                    .input-container
                        input(type="file" autocomplete="off" name="img" placeholder="user-img")
                .button-container
                    button.show-modal-form(type="submit") Save
                    button(type="reset") Reset

        div=errors

