extends ../layout

block content
    form(method="post" enctype="multipart/form-data" action="/api/users")
        .flex-container
            .input-container
                input(type="text", name="user-name", placeholder="name")
            .input-container
                input(type="text", name="user-position", placeholder="position")
            .input-container
                input(type="text", name="user-description" placeholder="description")
            .input-container
                input(type="text", name="user-facebook" placeholder="facebook")
            .input-container
                input(type="text", name="user-instagram" placeholder="instagram")
            .input-container
                input(type="file", name="user-img" placeholder="user-img")
        .button-container
            button(type="submit") Save
            button(type="reset") Reset

    table.user-container
        each user in users
            tr
                td=user["user-name"]
                td=user["user-position"]
                td=user["user-description"]
                td=user["user-facebook"]
                td=user["user-instagram"]
                td
                    img(src=`uploads-image/${user["user-img"]}`)
                td
                    button(type="delete", data-name="users" data-id=user.id).delete-element Delete

    div=errors

