extends ../layout
block content
	.content
		h2.title-page Contacts

		.contacts

			each contact, index in contacts

				form.contact-container(method="post" enctype="multipart/form-data" action="/api/contacts")

					.index=index + 1

					.left-container

						.project-image-container

							.image-project.active
								div.project-image.user-img(style=`background-image:url(../uploads-image/${project.img})`)
								input.download-project-img(type="file", name="img" placeholder="project-img")

							.preview-project
								div.project-preview-image.user-img(style=`background-image:url(../uploads-image/${project.previewImg})`)
								input.download-project-preview-img(type="file", name="previewImg" placeholder="preview-project-img")

							button.show-preview-button.active(type="button") Preview
							button.show-image-button(type="button") Image

					.right-container
						.project-name
							input.custom-style-input(type="text" name="name" autocomplete="off" value=project.name)
						.ptoject-link
							input.custom-style-input(type="text" name="link" autocomplete="off" value=project.link)
						.button-container
							button.change-element(type="submit", data-method="delete" data-api="projects" data-id=contact.id)

							button.delete-element(type="button", data-method="delete" data-api="projects" data-id=contact.id)

		button.add-user.show-modal-form add new project

	.modal-form
		button.close-modal.show-modal-form close
		form.submit-form(method="post" enctype="multipart/form-data" action="/api/contacts")
			.flex-container
				.input-container
					input(type="text", name="name", placeholder="project-name")
				.input-container
					input(type="text", name="link" placeholder="project-link")
				.input-container
					input(type="file", name="img" placeholder="project-img")
				.input-container
					input(type="file", name="previewImg" placeholder="preview-project-img")
			.button-container
				button(type="submit") Save
				button(type="reset") Reset

	div=errors
